 <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="index.html" class="logo scroll-on-page-link">
        <img src="logo.png" alt="Korinos.hu Logo">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
		<li class="nav-link more"><a class="scroll-on-page-link" href="#scroll-link-4">Menü</a>
            <ul class="submenu">
              <li><a href="index.html">Főoldal</a></li>
              <li><a href="http://korinos.hu/#scroll-link-3">Információk</a></li>
            </ul>
          </li>
		<li class="nav-link more"><a class="scroll-on-page-link" href="#scroll-link-4">Galéria</a>
            <ul class="submenu">
              <li><a href="lakokocsi1.html">1-es lakókocsi</a></li>
              <li><a href="lakokocsi2.html">2-es lakókocsi</a></li>
              <li><a href="lakokocsi3.html">3-as lakókocsi</a></li>
              <li><a href="part.html">A part és a kemping</a></li>
            </ul>
          </li>
					<li class="nav-link more"><a>Kapcsolat <span>&amp</span> Elérhetőség</a>
            <ul class="submenu">
              <li><a href="mailto:laszlo1965@gmail">laszlo1965@gmail.com</a></li>
			  <li><a href="mailto:dovas@t-online.hu.com">dovas@t-online.hu</a></li>
			  <li><a href="tel:+36308322304">+3630 832 2304 </a></li> 
              <li><a href="tel:+36302379036">+3630 237 9036</a></li>
              
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>