<!--  Scripts-->  

  <script src="_js/jquery-2.1.4.min.js" charset="utf-8"></script>
  <script src="_js/jquery.mobile.min.js" charset="utf-8"></script>
                                                                      
<script src="/js/modernizr.js"></script>
<script src="/js/placeholder.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/fotorama.js"></script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"c74df38fd140ab29b9de3ae9e","lid":"33c69ac2df"}) })</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Service",
  "@id": "http://korinos.hu/",
  "name": "Lakokocsis Nyaralás Görögországban",
  
   
  
  "provider": {
    "@type": "LocalBusiness",
    "name": "Korinos.hu",
    "image":  "http://www.korinos.hu/logo.png",
    "priceRange": "$",
    "email": "mailto:laszlo1965@gmail.com",
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": 40.305240, 
    "longitude": 22.616244
  },
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Korinos",
    "postalCode": "600 62",
    "addressCountry": "GR",
    "telephone": "+36308322304"
  }
  },
  "areaServed": {
    "@type": "Country",
    "name": "Hungary"
  },
  
  
  
 
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "reviewCount": "11"
  }
  
  
}
</script>